<div id="companies">
  <div class="col-12 text-center">
    <h2>{{ site.data.i18n[page.locale].companies.title }}</h2>
    <p>
      {{ site.data.i18n[page.locale].companies.text }}
      <a href="https://consulproject.org/docs/collaborating_and_certified.pdf" target="_blank">{{ site.data.i18n[page.locale].companies.link }}</a>
      {{ site.data.i18n[page.locale].companies.text_2 }}
    </p>
  </div>

  <div class="container">
    <div class="row margin-top">
      <div class="col-2 margin text-center"></div>
      <div class="col-4 margin text-center">
        <a href="{{ site.data.i18n[page.locale].companies.democrateam_link }}"
           title="{{ site.data.i18n[page.locale].companies.democrateam }}" target="_blank">
          <img src="/img/companies/democrateam.png" alt="{{ site.data.i18n[page.locale].companies.democrateam }}">
        </a>
      </div>
      <div class="col-4 margin text-center">
        <a href="{{ site.data.i18n[page.locale].companies.enreda_link }}"
           title="{{ site.data.i18n[page.locale].companies.enreda }}" target="_blank">
          <img src="/img/companies/enreda.png" alt="{{ site.data.i18n[page.locale].companies.enreda }}">
        </a>
      </div>
    </div>
  </div>

  <div class="row margin">
    <div class="col-12 text-center">
      <a href="https://community.consulproject.org/c/companies" target="_blank">
        {{ site.data.i18n[page.locale].companies.open_forum }}
      </a>
    </div>
  </div>
</div>

