<div class="row">
  <div class="documentation col-12">
    <div class="margin-bottom text-center">
      <h2 class="margin" id="documentation">{{ site.data.i18n[page.locale].documentation.title }}</h2>
    </div>

    <div class="row text-center">
      <div class="doc-container col-4">
        <div class="docs-info right">
          <div class="doc-size">347Kb</div>
          <div class="doc-type">PDF</div>
        </div>
        <a href="/docs/consul_executive_dossier_{{ page.locale }}.pdf" class="doc-download" target="_blank">
          {{ site.data.i18n[page.locale].documentation.brochure }}
        </a>
      </div>
      <div class="doc-container col-4">
        <div class="docs-info right">
          <div class="doc-size">11MB</div>
          <div class="doc-type">PDF</div>
        </div>
        <a href="/docs/consul_dossier_{{ page.locale }}.pdf" class="doc-download" target="_blank">
          {{ site.data.i18n[page.locale].documentation.dossier }}
        </a>
      </div>
      <div class="doc-container col-4">
        <div class="docs-info right">
          <div class="doc-size">{{ site.data.i18n[page.locale].documentation.use_guide_size }}</div>
          <div class="doc-type">PDF</div>
        </div>
        <a href="/docs/consul_use_guide_{{ page.locale }}.pdf" class="doc-download" target="_blank">
          {{ site.data.i18n[page.locale].documentation.use_guide }}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <a href="https://docs.consulproject.org" class="button success" target="_blank">
          {{ site.data.i18n[page.locale].documentation.technical_documentation }}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="margin-bottom">
          <h3 class="margin" id="documentation">{{ site.data.i18n[page.locale].documentation.subtitle }}</h3>
        </div>

        <table>
          <thead>
            <tr>
              <th>{{ site.data.i18n[page.locale].documentation.table_document }}</th>
              <th>{{ site.data.i18n[page.locale].documentation.table_format }}</th>
              <th>{{ site.data.i18n[page.locale].documentation.table_size }}</th>
              <th>{{ site.data.i18n[page.locale].documentation.table_download }}</th>
            </tr>
          </thead>
          <tbody>
            {% for file in site.files %}
              <tr>
                <td>{{ site.data.i18n[page.locale].documentation.[file.name] }}</td>
                <td>{{ file.format | upcase }}</td>
                <td>{{ site.data.i18n[page.locale].documentation.size.[file.name] }}</td>
                <td>
                  <a href="/docs/consul_{{ file.name }}_{{page.locale}}.{{ file.format }}" target="_blank">
                    {{ site.data.i18n[page.locale].documentation.download }}
                    {{ site.data.i18n[page.locale].documentation.[file.name] }}
                  </a>
                </td>
              </tr>
            {% endfor %}

            {% if page.locale == "es"  %}
              <tr>
                <td>Instrucciones evaluadores presupuestos participativos</td>
                <td>PDF</td>
                <td>1,3Mb</td>
                <td>
                  <a href="/docs/consul_instrucciones_evaluadores_presupuestos_participativos_es.pdf" target="_blank">
                    {{ site.data.i18n[page.locale].documentation.download }}
                    Instrucciones evaluadores presupuestos participativos
                  </a>
                </td>
              </tr>
            {% endif %}

            {% if page.locale == "en"  %}
              <tr>
                <td>CONSUL Dossier (Deutsch)</td>
                <td>PDF</td>
                <td>3,9Mb</td>
                <td>
                  <a href="/docs/consul_dossier_deutsch.pdf" target="_blank">
                    {{ site.data.i18n[page.locale].documentation.download }}
                    CONSUL Dossier (Deutsch)
                  </a>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row margin">
      <div class="col-12 text-center">
        <a href="https://community.consulproject.org/" target="_blank">
          {{ site.data.i18n[page.locale].documentation.community }}
        </a>
      </div>
    </div>
  </div>
</div>
