<div id="features" class="row margin text-center">
  <h2>{{ site.data.i18n[page.locale].features }}</h2>
</div>

<div class="features-timeline">
  <div class="row">
    <div class="col-6 text-center">
      <a href="#" class="js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.debates }}">
        <img src="../img/debates.png" alt="{{ site.data.i18n[page.locale].debates.title }}">
      </a>
    </div>
    <div class="col-6 feature-right">
      <h3 class="first-timeline">{{ site.data.i18n[page.locale].debates.title }}</h3>
      <p>{{ site.data.i18n[page.locale].debates.description }}</p>
      <br>
      <a href="#" class="link-to-video js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.debates }}">
        {{ site.data.i18n[page.locale].debates.video }}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-6 feature-left text-right">
      <h3>{{ site.data.i18n[page.locale].proposals.title }}</h3>
      <p>{{ site.data.i18n[page.locale].proposals.description }}</p>
      <br>
      <a href="#" class="link-to-video js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.proposals }}">
        {{ site.data.i18n[page.locale].proposals.video }}
      </a>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 feature-right">
      <h3>{{ site.data.i18n[page.locale].budgets.title }}</h3>
      <p>{{ site.data.i18n[page.locale].budgets.description }}</p>
      <br>
      <a href="#" class="link-to-video js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.budgets }}">
        {{ site.data.i18n[page.locale].budgets.video }}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-6 feature-left text-right">
      <h3>{{ site.data.i18n[page.locale].polls.title }}</h3>
      <p>{{ site.data.i18n[page.locale].polls.description }}</p>
      <br>
      <a href="#" class="link-to-video js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.polls }}">
        {{ site.data.i18n[page.locale].polls.video }}
      </a>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 feature-right">
      <h3>{{ site.data.i18n[page.locale].processes.title }}</h3>
      <p>{{ site.data.i18n[page.locale].processes.description }}</p>
      <br>
      <a href="#" class="link-to-video js-video-button" data-video-id="{{ site.data.i18n[page.locale].data_video_id.processes }}">
        {{ site.data.i18n[page.locale].processes.video }}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-6 feature-left text-right">
      <h3>{{ site.data.i18n[page.locale].legislation.title }}</h3>
      <p>{{ site.data.i18n[page.locale].legislation.description }}</p>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<div class="row margin text-center">
  <!-- <a href="https://consul-demo.herokuapp.com/" target="_blank" class="button success">
    {{ site.data.i18n[page.locale].button_features }}
  </a> -->
  <!-- <p class="margin-top">
    <a href="#">{{ site.data.i18n[page.locale].features_read_more }}</a>
  </p> -->
</div>
