<div id="features" class="row margin text-center">
  <h2>{{ site.data.i18n[page.locale].features }}</h2>
</div>

<div class="features-timeline">
  <div class="row">
    <div class="col-6 text-center">
     
    </div>
    <div class="col-6 feature-right">
      <h3 class="first-timeline">{{ site.data.i18n[page.locale].debates.title }}</h3>
      <p>{{ site.data.i18n[page.locale].debates.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6 feature-left text-right">
      <h3>{{ site.data.i18n[page.locale].proposals.title }}</h3>
      <p>{{ site.data.i18n[page.locale].proposals.description }}</p>
    </div>
    <div class="col-6 text-center">
     
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center">
     
    </div>
    <div class="col-6 feature-right">
      <h3>{{ site.data.i18n[page.locale].budgets.title }}</h3>
      <p>{{ site.data.i18n[page.locale].budgets.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6 feature-left text-right">
      <h3>{{ site.data.i18n[page.locale].polls.title }}</h3>
      <p>{{ site.data.i18n[page.locale].polls.description }}</p>
    </div>
    <div class="col-6 text-center">
     
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center">
     
    </div>
    <div class="col-6 feature-right">
      <h3>{{ site.data.i18n[page.locale].legislation.title }}</h3>
      <p>{{ site.data.i18n[page.locale].legislation.description }}</p>
    </div>
  </div>

</div>

<!--
  <div class="row margin text-center">
   <a href="https://consul-demo.herokuapp.com/" target="_blank" class="button success">
    {{ site.data.i18n[page.locale].button_features }}
  </a>
  <p class="margin-top">
    <a href="#">{{ site.data.i18n[page.locale].features_read_more }}</a>
  </p>
</div>
-->
