<div class="container footer">
  <div class="row">
    <div class="col-8">
      <h2>{{ site.data.i18n[page.locale].footer.title }}</h2>
      <p>
        {{ site.data.i18n[page.locale].footer.description }}<br>
      </p>
    </div>

    <div class="col-4 text-right">
      <ul>
        <li>
          <a href="https://github.com/consul/consul/" target="_blank">
            <img src="../img/icon_github.svg" alt="github">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/consul_dev" target="_blank">
            <img src="../img/icon_twitter.svg" alt="twitter">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
