<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a href="/{{ page.locale  }}" class="logo">{{ site.data.i18n[page.locale].consul }}</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/{{ page.locale }}/screenshots.html">{{ site.data.i18n[page.locale].menu.screenshots }}</a></li>
        <li><a href="/{{ page.locale }}/license.html">{{ site.data.i18n[page.locale].menu.license }}</a></li>
        <li><a href="/{{ page.locale }}/contact.html">{{ site.data.i18n[page.locale].menu.contact }}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="locale-selector">
  {% for i18n in site.data.i18n %}
    {% assign class = " " %}
    {% if page.locale == i18n[0] %}
      {% assign class = "active" %}
    {% endif %}
    {% assign path = page.path | split: '/' | last %}
    <a href="/{{ i18n[0] }}/{{ path }}" class="{{ class }}">{{ i18n[0] }}</a>
  {% endfor %}
</div>
