<div class="intro">
  <div class="row">
    <div class="small-12 column text-center">
      <h2>{{ site.data.i18n[page.locale].tagline }}</h2>
      <a href="https://github.com/consul/consul" target="_blank" class="button">{{ site.data.i18n[page.locale].button_github }}</a>
    </div>
  </div>
</div>

<h3 class="sr-only">{{ site.data.i18n[page.locale].organizations.title }}</h3>
<div id="mapplic" class="margin"></div>

<section class="summary">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h2>{{ site.data.i18n[page.locale].participation }}</h2>
      <a href="https://github.com/consul/consul/network/members" target="_blank" class="small external">{{ site.data.i18n[page.locale].repositories_list }}</a>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_1 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_1 }}</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_2 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_2 }}</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_3 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_3 }}</p>
    </div>
  </div>
</section>

<div class="margin">
  <div class="row">
    <div class="small-12 column text-center">
    <figure>
      <img src="/img/homepage_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].screenshot }}">
      <figcaption>
        <small>{{ site.data.i18n[page.locale].screenshot }}</small>
      </figcaption>
    </figure>
    </div>
  </div>
</div>

<section>
  <h1 class="sr-only">{{ site.data.i18n[page.locale].features }}</h1>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].debates.title }}</h2>
        <p>{{ site.data.i18n[page.locale].debates.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].debates.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].debates.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].debates.feature_3 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/debates_{{page.locale}}.png" alt="{{ site.data.i18n[page.locale].debates.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/proposals_{{page.locale}}.png" alt="{{ site.data.i18n[page.locale].proposals.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].proposals.title }}</h2>
        <p>{{ site.data.i18n[page.locale].proposals.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].proposals.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_3 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_4 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].investment_projects.title }}</h2>
        <p>{{ site.data.i18n[page.locale].investment_projects.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_3 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_4 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/investment_projects_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].investment_projects.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/voting_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].voting.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].voting.title }}</h2>
        <p>{{ site.data.i18n[page.locale].voting.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].voting.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].voting.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].voting.feature_3 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].legislation.title }}</h2>
        <p>{{ site.data.i18n[page.locale].legislation.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].legislation.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].legislation.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].legislation.feature_3 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/legislation_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].legislation.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/processes_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].processes.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].processes.title }}</h2>
        <p>{{ site.data.i18n[page.locale].processes.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].processes.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].processes.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].processes.feature_3 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="more-features margin padding">
    <div class="row">
      <div class="small-12 medium-6 column">
        <h2>{{ site.data.i18n[page.locale].more_features.title }}</h2>
        <p class="lead">{{ site.data.i18n[page.locale].more_features.tagline }}</p>
      </div>
      <div class="small-12 medium-6 column">
        <div class="row">
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_1_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_1_description }}</p>
          </div>
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_2_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_2_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_3_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_3_description }}</p>
          </div>
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_4_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_4_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="who-use-it">
  <div class="row">
    <div class="small-12 column">
      <h2>{{ site.data.i18n[page.locale].organizations.title }}</h2>
      <p>{{ site.data.i18n[page.locale].organizations.description }}</p>
    </div>
  </div>
  <div class="row logos">
    <div class="small-12 medium-4 column margin-top text-center">
      <a href="https://decide.madrid.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
        <img src="/img/logo_madrid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
      </a>
    </div>
    <div class="small-12 medium-4 column margin-top text-center">
      <a href="https://decidim.barcelona/?locale=es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_2 }}">
        <img src="/img/logo_barcelona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_2 }}">
      </a>
    </div>
    <div class="small-12 medium-4 column margin-top text-center">
      <a href="http://www.consultaoviedo.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
        <img src="/img/logo_oviedo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
      </a>
    </div>
  </div>
  <div class="row logos">
    <div class="small-12 medium-4 column margin-bottom text-center">
      <a href="https://aportaaberta.coruna.es/?locale=es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
        <img src="/img/logo_acoruna.png" alt="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
      </a>
    </div>
    <div class="small-12 medium-4 column margin-bottom text-center">
      <a href="https://decidimvlc.valencia.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
        <img src="/img/logo_valencia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
      </a>
    </div>
    <div class="small-12 medium-4 column margin-bottom text-center">
      <a href="https://www.participacalvia.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
        <img src="/img/logo_calvia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
      </a>
    </div>

  </div>
</section>
