<div class="intro">
  <div class="row">
    <div class="small-12 column text-center">
      <h2>{{ site.data.i18n[page.locale].tagline }}</h2>
      <a href="https://github.com/consul/consul" target="_blank" class="button">{{ site.data.i18n[page.locale].button_github }}</a>
    </div>
  </div>
</div>

<h3 class="sr-only">{{ site.data.i18n[page.locale].organizations.title }}</h3>
<div id="mapplic" class="margin"></div>

<section class="summary">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h2>{{ site.data.i18n[page.locale].participation }}</h2>
      <a href="https://github.com/consul/consul/network/members" target="_blank" class="small external">{{ site.data.i18n[page.locale].repositories_list }}</a>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_1 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_1 }}</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_2 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_2 }}</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>{{ site.data.i18n[page.locale].summary.title_3 }}</h4>
      <p>{{ site.data.i18n[page.locale].summary.description_3 }}</p>
    </div>
  </div>
</section>

<div class="margin">
  <div class="row">
    <div class="small-12 column text-center">
    <figure>
      <img src="/img/homepage_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].screenshot }}">
      <figcaption>
        <small>{{ site.data.i18n[page.locale].screenshot }}</small>
      </figcaption>
    </figure>
    </div>
  </div>
</div>

<section>
  <h1 class="sr-only">{{ site.data.i18n[page.locale].features }}</h1>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].debates.title }}</h2>
        <p>{{ site.data.i18n[page.locale].debates.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].debates.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].debates.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].debates.feature_3 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/debates_{{page.locale}}.png" alt="{{ site.data.i18n[page.locale].debates.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/proposals_{{page.locale}}.png" alt="{{ site.data.i18n[page.locale].proposals.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].proposals.title }}</h2>
        <p>{{ site.data.i18n[page.locale].proposals.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].proposals.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_3 }}</li>
          <li>{{ site.data.i18n[page.locale].proposals.feature_4 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].investment_projects.title }}</h2>
        <p>{{ site.data.i18n[page.locale].investment_projects.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_3 }}</li>
          <li>{{ site.data.i18n[page.locale].investment_projects.feature_4 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/investment_projects_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].investment_projects.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/voting_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].voting.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].voting.title }}</h2>
        <p>{{ site.data.i18n[page.locale].voting.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].voting.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].voting.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].voting.feature_3 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].legislation.title }}</h2>
        <p>{{ site.data.i18n[page.locale].legislation.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].legislation.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].legislation.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].legislation.feature_3 }}</li>
        </ul>
      </div>
      <div class="small-12 medium-6 column">
        <img src="/img/legislation_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].legislation.image_alt }}">
      </div>
    </div>
  </div>

  <div class="feature margin">
    <div class="row">
      <div class="small-12 medium-6 column">
        <img src="/img/processes_{{page.locale}}.jpg" alt="{{ site.data.i18n[page.locale].processes.image_alt }}">
      </div>
      <div class="small-12 medium-6 column text">
        <h2>{{ site.data.i18n[page.locale].processes.title }}</h2>
        <p>{{ site.data.i18n[page.locale].processes.description }}</p>
        <ul>
          <li>{{ site.data.i18n[page.locale].processes.feature_1 }}</li>
          <li>{{ site.data.i18n[page.locale].processes.feature_2 }}</li>
          <li>{{ site.data.i18n[page.locale].processes.feature_3 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="more-features margin padding">
    <div class="row">
      <div class="small-12 medium-6 column">
        <h2>{{ site.data.i18n[page.locale].more_features.title }}</h2>
        <p class="lead">{{ site.data.i18n[page.locale].more_features.tagline }}</p>
      </div>
      <div class="small-12 medium-6 column">
        <div class="row">
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_1_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_1_description }}</p>
          </div>
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_2_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_2_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_3_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_3_description }}</p>
          </div>
          <div class="small-12 medium-6 column">
            <h3>{{ site.data.i18n[page.locale].more_features.feature_4_title }}</h3>
            <p>{{ site.data.i18n[page.locale].more_features.feature_4_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="who-use-it">
  <div class="row">
    <div class="small-12 column">
      <h2>{{ site.data.i18n[page.locale].organizations.title }}</h2>
      <p>{{ site.data.i18n[page.locale].organizations.description }}</p>
    </div>
  </div>
  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://decide.madrid.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
        <img src="/img/logos/madrid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://decidim.barcelona/?locale=es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_2 }}">
        <img src="/img/logos/barcelona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_2 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="http://www.consultaoviedo.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
        <img src="/img/logos/oviedo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://aportaaberta.coruna.es/?locale=es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
        <img src="/img/logos/acoruna.png" alt="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://decidimvlc.valencia.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
        <img src="/img/logos/valencia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://www.participacalvia.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
        <img src="/img/logos/calvia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
      </a>
    </div>
  </div>

  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/alicante.png" alt="{{ site.data.i18n[page.locale].organizations.organization_7 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/arona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_8 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://benalmadenaparticipa.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_9 }}">
        <img src="/img/logos/benalmadena.png" alt="{{ site.data.i18n[page.locale].organizations.organization_9 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/bunol.png" alt="{{ site.data.i18n[page.locale].organizations.organization_10 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/cadiz.png" alt="{{ site.data.i18n[page.locale].organizations.organization_11 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://decide.carreno.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_12 }}">
        <img src="/img/logos/carreno.png" alt="{{ site.data.i18n[page.locale].organizations.organization_12 }}">
      </a>
    </div>
  </div>

  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://decidim.castello.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_13 }}">
        <img src="/img/logos/castellon_plana.png" alt="{{ site.data.i18n[page.locale].organizations.organization_13 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/chiloeches.png" alt="{{ site.data.i18n[page.locale].organizations.organization_14 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/ciempozuelos.png" alt="{{ site.data.i18n[page.locale].organizations.organization_15 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://participa.getafe.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_16 }}">
        <img src="/img/logos/getafe.png" alt="{{ site.data.i18n[page.locale].organizations.organization_16 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/golmayo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_17 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/huesca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_18 }}">
      </span>
    </div>
  </div>

  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/palma_mallorca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_19 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/pamplona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_20 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/rivas_vaciamadrid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_21 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/san_sebastian_reyes.png" alt="{{ site.data.i18n[page.locale].organizations.organization_22 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/sitges.png" alt="{{ site.data.i18n[page.locale].organizations.organization_23 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/talamanca_jarama.png" alt="{{ site.data.i18n[page.locale].organizations.organization_24 }}">
      </span>
    </div>
  </div>

  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/tarragona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_25 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/toledo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_26 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/valdemorillo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_27 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/buenos_aires.png" alt="{{ site.data.i18n[page.locale].organizations.organization_28 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/cabildo_gran_canaria.png" alt="{{ site.data.i18n[page.locale].organizations.organization_29 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/consell_mallorca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_30 }}">
      </span>
    </div>
  </div>

  <div class="expanded logos">
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/diputacion_valencia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_31 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/mendoza.png" alt="{{ site.data.i18n[page.locale].organizations.organization_32 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/narino.png" alt="{{ site.data.i18n[page.locale].organizations.organization_33 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/universidad_complutense.png" alt="{{ site.data.i18n[page.locale].organizations.organization_34 }}">
      </span>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://mxv.peoplesmomentum.com/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_35 }}">
        <img src="/img/logos/momentum.png" alt="{{ site.data.i18n[page.locale].organizations.organization_35 }}">
      </a>
    </div>
    <div class="small-12 medium-2 column margin text-center">
      <a href="https://budget-participatif.rivp.fr/budgets" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_36 }}">
        <img src="/img/logos/rivp.png" alt="{{ site.data.i18n[page.locale].organizations.organization_36 }}">
      </a>
    </div>
  </div>
</section>
