<div class="highlight">
  <div class="container">
    <h2>{{ site.data.i18n[page.locale].tagline }}</h2>
  </div>
</div>

<div class="container margin">
  {% include intro.html %}
</div>

<div class="container">
  {% include summary.html %}
</div>

<div class="container">
  {% include map.html %}
</div>

<div class="container">
  {% include features.html %}
</div>

<div class="highlight margin-top">
  {% include organizations.html %}
</div>

<div class="container">
  {% include documentation.html %}
</div>

<div class="contact">
  <div class="container">
    {% include contact.html %}
  </div>
</div>
