<div class="intro">
  <div class="row">
    <div class="col-6 text-center">
      <div class="un-card">
        <a href="{{ site.data.i18n[page.locale].intro.un_award_url }}" target="_blank">
          <img src="/img/intro/un_award.png" alt="{{ site.data.i18n[page.locale].intro.un_award }}">
          <br>
          <span>
            <strong>{{ site.data.i18n[page.locale].intro.un_award }}</strong>
          </span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <span class="number">{{ site.data.i18n[page.locale].intro.countries_number }}</span>
          <span class="number-title">{{ site.data.i18n[page.locale].intro.countries }}</span>
        </div>
        <div class="col-12">
          <span class="number">{{ site.data.i18n[page.locale].intro.institutions_number }}</span>
          <span class="number-title">{{ site.data.i18n[page.locale].intro.institutions }}</span>
        </div>
        <div class="col-12">
          <span class="number">{{ site.data.i18n[page.locale].intro.citizens_number }}</span>
          <span class="number-title">{{ site.data.i18n[page.locale].intro.citizens }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="development">
    <div class="row margin text-center">
      <div class="col-4">
        <a href="{{ site.data.i18n[page.locale].intro.idb_url }}" target="_blank">
          <img src="/img/intro/idb.png" alt="{{ site.data.i18n[page.locale].intro.idb }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.idb_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.idb }}</span>
        </a>
      </div>
      <div class="col-4">
        <a href="{{ site.data.i18n[page.locale].intro.undp_url }}" target="_blank">
          <img src="/img/intro/undp.png" alt="{{ site.data.i18n[page.locale].intro.undp }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.undp_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.undp }}</span>
        </a>
      </div>
      <div class="col-4">
        <a href="https://ciudades-abiertas.es/" target="_blank">
          <img src="/img/intro/eu_{{ page.locale }}.png" alt="{{ site.data.i18n[page.locale].intro.eu }}"></a>
        <br>
        <a href="https://ciudades-abiertas.es/" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.eu }}</span>
        </a>
      </div>
    </div>
    <div class="row margin text-center">
      <div class="col-2"></div>
      <div class="col-4">
        <a href="https://www.nesta.org.uk/feature/collective-intelligence-grants/" target="_blank">
          <img src="/img/intro/nesta.png" alt="{{ site.data.i18n[page.locale].intro.nesta }}"></a>
        <br>
        <a href="https://www.nesta.org.uk/feature/collective-intelligence-grants/" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.nesta }}</span>
        </a>
      </div>
      <div class="col-4">
        <a href="https://www.bosch-stiftung.de/en" target="_blank">
          <img src="/img/intro/rbs.png" alt="{{ site.data.i18n[page.locale].intro.nesta }}"></a>
        <br>
        <a href="https://www.bosch-stiftung.de/en" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.rbs }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
