<div class="intro">
  <div class="row">
    <div class="col-6 text-center">
      <div class="un-card">
        <a href="{{ site.data.i18n[page.locale].intro.un_award_url }}" target="_blank">
          <img src="/assets/images/intro/un_award.png" alt="{{ site.data.i18n[page.locale].intro.un_award }}">
          <br>
          <span>
            <strong>{{ site.data.i18n[page.locale].intro.un_award }}</strong>
          </span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          {% assign countries = site.data.organizations | group_by: 'country' %}
          <span class="number">{{ countries.size }}</span>
        </div>
        <div class="col-8">
          <span class="number-title">{{ site.data.i18n[page.locale].intro.countries }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          {% assign sorted_organizations = site.data.organizations | sort: 'name' %}
          <span class="number">{{ sorted_organizations.size }}</span>
        </div>
        <div class="col-8">
          <span class="number-title">{{ site.data.i18n[page.locale].intro.institutions }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="number">{{ site.data.i18n[page.locale].intro.citizens_number }}</span>
        </div>
        <div class="col-8">
          <span class="number-title">{{ site.data.i18n[page.locale].intro.citizens }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="development">
    <div class="row margin text-center">
      <div class="col-6">
        <a href="{{ site.data.i18n[page.locale].intro.idb_url }}" target="_blank">
          <img src="/assets/images/intro/idb.png" alt="{{ site.data.i18n[page.locale].intro.idb }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.idb_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.idb }}</span>
        </a>
      </div>
      <div class="col-6">
        <a href="{{ site.data.i18n[page.locale].intro.undp_url }}" target="_blank">
          <img src="/assets/images/intro/undp.png" alt="{{ site.data.i18n[page.locale].intro.undp }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.undp_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.undp }}</span>
        </a>
      </div>
    </div>
    <div class="row margin text-center">
      <div class="col-6">
        <a href="{{ site.data.i18n[page.locale].intro.eu_url }}" target="_blank">
          <img src="/assets/images/intro/eu_rdf.png" alt="{{ site.data.i18n[page.locale].intro.eu }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.eu_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.eu }}</span>
        </a>
      </div>
      <div class="col-6">
        <a href="{{ site.data.i18n[page.locale].intro.dcent_url }}" target="_blank">
          <img src="/assets/images/intro/dcent.png" alt="{{ site.data.i18n[page.locale].intro.dcent }}"></a>
        <br>
        <a href="{{ site.data.i18n[page.locale].intro.dcent_url }}" target="_blank">
          <span>{{ site.data.i18n[page.locale].intro.dcent }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
