<section class="who-use-consul">
  <div class="row">
    <h2>Trusted by +50 cities and organizations</h2>
  </div>

  <div class="row">
    <div class="col-3 margin">
      <a href="https://decide.madrid.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
        <img src="/img/logos/madrid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_1 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="http://www.consultaoviedo.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
        <img src="/img/logos/oviedo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_3 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://aportaaberta.coruna.es/?locale=es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
        <img src="/img/logos/acoruna.png" alt="{{ site.data.i18n[page.locale].organizations.organization_4 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://decidimvlc.valencia.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
        <img src="/img/logos/valencia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_6 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://www.participacalvia.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
        <img src="/img/logos/calvia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_5 }}">
      </a>
    </div>

    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/alicante.png" alt="{{ site.data.i18n[page.locale].organizations.organization_7 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/arona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_8 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="https://benalmadenaparticipa.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_9 }}">
        <img src="/img/logos/benalmadena.png" alt="{{ site.data.i18n[page.locale].organizations.organization_9 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/bunol.png" alt="{{ site.data.i18n[page.locale].organizations.organization_10 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/cadiz.png" alt="{{ site.data.i18n[page.locale].organizations.organization_11 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="https://decide.carreno.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_12 }}">
        <img src="/img/logos/carreno.png" alt="{{ site.data.i18n[page.locale].organizations.organization_12 }}">
      </a>
    </div>

    <div class="col-3 margin">
      <a href="https://decidim.castello.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_13 }}">
        <img src="/img/logos/castellon_plana.png" alt="{{ site.data.i18n[page.locale].organizations.organization_13 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://decide.aytochiloeches.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_14 }}">
        <img src="/img/logos/chiloeches.png" alt="{{ site.data.i18n[page.locale].organizations.organization_14 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/ciempozuelos.png" alt="{{ site.data.i18n[page.locale].organizations.organization_15 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="https://participa.getafe.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_16 }}">
        <img src="/img/logos/getafe.png" alt="{{ site.data.i18n[page.locale].organizations.organization_16 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/golmayo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_17 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/huesca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_18 }}">
      </span>
    </div>

    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/palma_mallorca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_19 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/rivas_vaciamadrid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_21 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/san_sebastian_reyes.png" alt="{{ site.data.i18n[page.locale].organizations.organization_22 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/sitges.png" alt="{{ site.data.i18n[page.locale].organizations.organization_23 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/talamanca_jarama.png" alt="{{ site.data.i18n[page.locale].organizations.organization_24 }}">
      </span>
    </div>

    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/tarragona.png" alt="{{ site.data.i18n[page.locale].organizations.organization_25 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/toledo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_26 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/valdemorillo.png" alt="{{ site.data.i18n[page.locale].organizations.organization_27 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="https://baelige.buenosaires.gob.ar/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_28 }}">
        <img src="/img/logos/buenos_aires.png" alt="{{ site.data.i18n[page.locale].organizations.organization_28 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/cabildo_gran_canaria.png" alt="{{ site.data.i18n[page.locale].organizations.organization_29 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/consell_mallorca.png" alt="{{ site.data.i18n[page.locale].organizations.organization_30 }}">
      </span>
    </div>

    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/diputacion_valencia.png" alt="{{ site.data.i18n[page.locale].organizations.organization_31 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="http://participa.ciudaddemendoza.gob.ar/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_32 }}">
        <img src="/img/logos/mendoza.png" alt="{{ site.data.i18n[page.locale].organizations.organization_32 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/narino.png" alt="{{ site.data.i18n[page.locale].organizations.organization_33 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <span title="{{ site.data.i18n[page.locale].organizations.preparing }}">
        <img src="/img/logos/universidad_complutense.png" alt="{{ site.data.i18n[page.locale].organizations.organization_34 }}">
      </span>
    </div>
    <div class="col-3 margin">
      <a href="https://mxv.peoplesmomentum.com/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_35 }}">
        <img src="/img/logos/momentum.png" alt="{{ site.data.i18n[page.locale].organizations.organization_35 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://budget-participatif.rivp.fr/budgets" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_36 }}">
        <img src="/img/logos/rivp.png" alt="{{ site.data.i18n[page.locale].organizations.organization_36 }}">
      </a>
    </div>
    <div class="col-3 margin">
      <a href="https://www10.ava.es/presupuestosparticipativos/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_20 }}">
        <img src="/img/logos/valladolid.png" alt="{{ site.data.i18n[page.locale].organizations.organization_20 }}">
      </a>
    </div>

    <div class="col-3 margin">
      <a href="https://decide.puertoreal.es/" target="_blank" title="{{ site.data.i18n[page.locale].organizations.organization_37 }}">
        <img src="/img/logos/puerto_real.png" alt="{{ site.data.i18n[page.locale].organizations.organization_327 }}">
      </a>
    </div>
</section>