<section>
  <div class="container">
    <div class="row margin-bottom">
      <h2>{{ site.data.i18n[page.locale].organizations.title }}</h2>
    </div>
  </div>

  <div class="organizations">
    <div class="container">
      <div class="row">
        <div class="col-3 margin">
          <a href="https://decide.madrid.es" target="_blank" title="{{ site.data.i18n[page.locale].organizations.madrid }}">
            <img src="/img/logos/madrid.png" alt="{{ site.data.i18n[page.locale].organizations.madrid }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://wuerzburg-mitmachen.de" target="_blank" title="{{ site.data.i18n[page.locale].organizations.wurzburg }}">
            <img src="/img/logos/wurzburg.png" alt="{{ site.data.i18n[page.locale].organizations.wurzburg }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://stemvan.groningen.nl" target="_blank" title="{{ site.data.i18n[page.locale].organizations.groningen }}">
            <img src="/img/logos/groningen.png" alt="{{ site.data.i18n[page.locale].organizations.groningen }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://pp.hrpelje-kozina.si" target="_blank" title="{{ site.data.i18n[page.locale].organizations.hrpelje_kozina }}">
            <img src="/img/logos/hrpelje_kozina.png" alt="{{ site.data.i18n[page.locale].organizations.hrpelje_kozina }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://plan.gobiernoabierto.gub.uy" target="_blank" title="{{ site.data.i18n[page.locale].organizations.uruguay }}">
            <img src="/img/logos/uruguay.png" alt="{{ site.data.i18n[page.locale].organizations.uruguay }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://opdigital.prefeitura.poa.br" target="_blank" title="{{ site.data.i18n[page.locale].organizations.porto_alegre }}">
            <img src="/img/logos/porto_alegre.png" alt="{{ site.data.i18n[page.locale].organizations.porto_alegre }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://avcilar.dijitaldemokrasi.org" target="_blank" title="{{ site.data.i18n[page.locale].organizations.avcilar_belediyesi }}">
            <img src="/img/logos/avcilar_belediyesi.png" alt="{{ site.data.i18n[page.locale].organizations.avcilar_belediyesi }}">
          </a>
        </div>
        <div class="col-3 margin">
          <a href="https://westlothiancouncil.communitychoices.scot" target="_blank" title="{{ site.data.i18n[page.locale].organizations.west_lothian }}">
            <img src="/img/logos/west_lothian.png" alt="{{ site.data.i18n[page.locale].organizations.west_lothian }}">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
