<section>
  <div class="organizations">
    <div class="container">
      <div class="row">
        
        {% for org in sorted_organizations %}
        <div class="col-3 margin">
          {% if org.consul_website %}
          <a href="{{ org.consul_website }}" target="_blank" title="{{ org.name }}">
            {% if org.logo %}
              <img src="{{ org.logo }}" alt="{{ org.name }}">
            {% else %}
            <p style="background-color:#ccc;">{{ org.name }}</p>
            {% endif %}
          </a>
          {% else %}
            {% if org.logo %}
              <img src="{{ org.logo }}" alt="{{ org.name }}" style="background-color:#ccc;">
            {% else %}
              <p style="background-color:#ccc;">{{ org.name }}</p>
            {% endif %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
