<div class="summary">
  <div class="row">
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.free_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.free_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.adaptable_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.adaptable_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.up_to_date_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.up_to_date_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.functional_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.functional_description }}</p>
    </div>
  </div>
  <div class="row margin">
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.safe_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.safe_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.responsive_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.responsive_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.efficient_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.efficient_description }}</p>
    </div>
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.support_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.support_description }}</p>
    </div>
  </div>
</div>
