<div class="summary">
  <div class="row">
    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.free_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.free_description }}</p>
    </div>

    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.adaptable_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.adaptable_description }}</p>
    </div>

    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.safe_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.safe_description }}</p>
    </div>

    <div class="col-3">
      <h3>{{ site.data.i18n[page.locale].summary.support_title }}</h3>
      <p>{{ site.data.i18n[page.locale].summary.support_description }}</p>
    </div>
  </div>
</div>
