<div class="row summary">
  <div class="col-4">
    <h3>Es software libre</h3>
    <p>Lo que quiere decir que eres totalmente libre de instalar, usar, modificar a tu gusto y hacer lo que quieras con esta herramienta; sin pagar absolutamente nada por ello.</p>
  </div>
  <div class="col-4">
    <h3>Listo para lo que necesites</h3>
    <p>Puedes adaptar la aplicación con tu imagen y estilo y configurarla fácilmente para que se adapte a lo que necesites. Su diseño responsive permite utilizarla sin problemas en navegadores web, tablets y smartphones.</p>
  </div>
  <div class="col-4">
    <h3>Y te ayudamos a usarlo</h3>
    <p>Te ayudamos a ponerlo en marcha desde el primer minuto, para que no haya ninguna dificultad técnica, organizativa o legal que te cause problemas.</p>
  </div>
</div>
