// Table of Contents
//
// 01. Variables
// 02. CONSULCON Landing
//

// Variables
// ------------------------

$consul: #0c9edd;
$blue:   #0f7feb;
$purple: #282776;

// CONSULCON Landing
// ------------------------

html,
body {
  height: 100%;
  margin: 0;
}

body {

  &.landing {
    background: #fff url('../img/consulcon/consulcon_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    overflow-x: hidden;


    .wrapper {
      min-height: 100%;

      /* Equal to height of footer */
      /* But also accounting for potential margin-bottom of last child */
      margin-bottom: -50px;
    }

    .footer,
    .push {
      height: 50px;
    }

    header {
      background: none;
      min-height: 0;
    }

    h3,
    p,
    a {
      font-family: 'Karla', sans-serif;
    }

    .title {
      color: $blue;
      font-weight: bold;
      padding-left: 6px;

      @media only screen and (min-width: $breakpoint-large) {
        font-size: 2rem;
        margin-top: -15px;
        padding-left: 12px;
      }
    }

    footer {
      background: #fff;
      position: relative;

      &::before {
        bottom: 100px;
        content: url('../img/consulcon/waves.svg');
        position: absolute;
        z-index: -1;
      }

      @media only screen and (min-width: $breakpoint-med) {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.gallery {
  background: $purple;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0 $line-height / 2;

  &:hover {
    text-decoration: underline;
  }
}

.waves {
  height: 230px;

  @media only screen and (min-width: $breakpoint-med) {
    height: auto;
  }
}

.footer {

  &.landing {
    padding: $line-height 0;
  }
}

.consulcon {
  margin: 0 auto;
  width: 100%;

  img {
    max-width: 100%;
  }
}

.flickr {
  margin: $line-height * 2 auto;
  max-width: 100%;

  @media only screen and (min-width: $breakpoint-med) {
    margin: 0 auto;
  }
}

.mobile {

  @media only screen and (min-width: $breakpoint-med) {
    display: none;
  }
}

.desktop {
  display: none;

  @media only screen and (min-width: $breakpoint-med) {
    display: block;
  }
}
