// Table of Contents
//
// 01. Variables
// 02. Reset & global styles
// 03. Header
// 04. Intro, Summary & organizations
// 05. Map
// 06. Features
// 07. Contact
// 08. Footer
//

// 01. Variables
// ------------------------

$line-height:     30px;
$font-size:       18px;
$small-font-size: 14px;

$dark:        #36424a;
$light:       #f5f7fc;
$link:        #00a8e1;
$success:     #3a778b;

// 02. Reset & global styles
// ------------------------

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
header,
nav,
section {
  margin:0;
  padding:0;
  border:0;
}

body {
  padding-bottom:200px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.margin-bottom {
  margin-bottom: $line-height;
}

.margin-top {
  margin-top: $line-height;
}

.margin {
  margin-bottom: $line-height;
  margin-top: $line-height;
}

.padding {
  padding-bottom: $line-height;
  padding-top: $line-height;
}

.show-for-sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.text-center {
  text-align: center;
}

.text-right {

  @media only screen and (min-width: $breakpoint-med) {
    text-align: right;
  }
}

// 03. Header
// ------------------------

header {
  background: #36424a;
  background: -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
  background: -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
  background: linear-gradient(135deg, #36424a 0%,#3a778b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36424a', endColorstr='#3a778b',GradientType=1 );
  min-height: $line-height * 20;
  position: relative;

  @media only screen and (min-width: $breakpoint-large) {
    background: url("../img/home/city.svg"), #36424a;
    background: url("../img/home/city.svg"), -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
    background: url("../img/home/city.svg"), -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
    background: url("../img/home/city.svg"), linear-gradient(135deg, #36424a 0%,#3a778b 100%);
    background-repeat: no-repeat;
    background-position: 100% 90%;
  }
}

nav {
  line-height: $line-height * 2;
  padding-top: $line-height;

  @media only screen and (min-width: $breakpoint-med) {
    padding-top: 0;
  }

  @media only screen and (min-width: $breakpoint-large) {
    float: right;
  }

  a {
    color: #fff;
    display: block;
    margin-bottom: $line-height;
    text-decoration: none;

    @media only screen and (min-width: $breakpoint-large) {
      display: inline-block;
      margin-bottom: 0;
      margin-left: $line-height;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 2.22rem;
  padding-top: $line-height * 2;

  a {
    color: #fff;
    line-height: $line-height * 2;
    text-decoration: none;
  }
}

.lead {
  color: #fff;
  font-size: 1.89rem;
  line-height: 1.33;
  margin: $line-height 0;
}

.button {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  color: $dark;
  cursor: pointer;
  display: block;
  font-size: $font-size;
  font-weight: bold;
  margin-bottom: $line-height;
  padding: $line-height / 2 0;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media only screen and (min-width: $breakpoint-med) {
    padding: $line-height / 2 $line-height;
    width: auto;
  }

  @media only screen and (min-width: $breakpoint-large) {
    display: inline-block;
    margin-bottom: 0;
  }

  &.hollow {
    background: none;
    border: 1px solid #fff;
    color: #fff;
  }

  &.success {
    background: $success;
    color: #fff;
  }

  &.secondary {
    background: $link;
    color: #fff;
  }
}

.button ~ .button {
  @media only screen and (min-width: $breakpoint-large) {
    margin-left: $line-height / 2;
  }
}

.header-video {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;

  iframe,
  video {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  video {
    width: 100%;
  }
}

.header-video-container {
  position: relative;
  height: $line-height * 20;
}

.header-video-teaser {
  width: 100%;
  height: auto;
}

.header-video-media {
  width: 100%;
  height: auto;
}

.header-video-play {
  border: 0;
  background: url("../img/home/city.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: $line-height * 7;
  opacity: 1;
  text-align: center;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  width: 100%;

  @media only screen and (min-width: $breakpoint-med) {
    background: none;
    left: 70%;
    margin-left: -43px;
    margin-top: -43px;
    position: absolute;
    top: 75%;
    width: auto;
  }

  &:hover {
    opacity: 0.75;
  }
}

.header-video-close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 99;
}

.locale-selector {
  border: 1px solid black;
  position: absolute;
  right: 14px;
  top: -1px;

  a {
    color: black;
    padding: 0 $line-height/2;
    text-transform: uppercase;

    &:first-child {
      border-right: 1px solid black;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.external-link {
  padding-right: 20px;
  position: relative;

  &::after {
    content: url('../img/external_link.svg');
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 1px;
  }
}

// 04. Intro, Summary & organizations
// ---------------------------

.intro {

  .un-card {

    a {
      border: 1px solid #dedddd;
      border-radius: 3px;
      display: block;
      min-height: 200px;
      padding: $line-height / 2;

      &:hover {
        box-shadow: 5px 5px 5px 0 rgba(247, 247, 247, 1);
        text-decoration: none;
      }
    }

    span,
    strong {
      color: $link;
      font-size: 1.5rem;
    }
  }

  .development {
    border-bottom: 1px solid $light;

    img {
      border: 1px solid $light;
      height: 50px;
    }

    span {
      color: $link;
      display: inline-block;
      font-size: 0.9rem;
      height: 50px;
      margin-left: 12px;
      margin-top: 16px;
      vertical-align: top;
    }
  }

  .number,
  .number-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .number {
    color: $link;
    display: inline-block;
    width: 60px;
  }

  .number-title {
    display: inline-block;
    margin-left: $line-height / 2;
  }

  @media only screen and (max-width: $breakpoint-med) {

    .number,
    .number-title {
      display: block;
      text-align: center;
    }
  }
}

.highlight {
  background: $light;
  font-size: 1.33rem;
  padding: $line-height 0;
  text-align: center;
}

.summary {

  h3::before {
    content: url('../img/home/checkmark_icon.svg');
    display: block;
    height: $line-height * 1.5;
  }
}

.organizations {

  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    max-width: 100%;
    mix-blend-mode: multiply;
    opacity: 0.75;

    &:hover {
      cursor: pointer;
      filter: none;
      -webkit-filter: none;
      opacity: 1;
      transition: filter 0.25s;
      transition: opacity 0.25s;
    }
  }
}

// 05. Map
// ------------------------

#mapid {
  height: 500px;
  margin-bottom: $line-height;
  z-index: 99;
}

.leaflet-control-fullscreen {
  background-image: url("../img/map/fullscreen.svg");
}

.leaflet-control-locationlist-arrow-next {
  background-image: url('../img/map/icon_next.svg');
  float: left;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.leaflet-control-locationlist-arrow-prev {
  background-image: url('../img/map/icon_prev.svg');
  float: left;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.leaflet-control-locationlist {
  display: none;
  background-color : transparent;
  text-align:center;
}

.leaflet-control-locationlist-arrows {
  background-color : rgba(0,0,0,0);
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  display:inline-block;
}

.leaflet-control-locationlist-form {
  background-color : rgba(0,0,0,0);
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
}

.leaflet-control-locationlist-list {
  display: none;
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
}

.leaflet-control-view-center {
  background-image: url('../img/map/icon_viewcenter.svg');
}

// 06. Features
// ------------------------

.link-to-video {
  padding-left: 1.39rem;
  position: relative;

  &::before {
    content: url('../img/home/video_icon.svg');
    left: 0;
    position: absolute;
    top: 1px;
  }
}

.features-timeline {

  h3 {
    position: relative;

    &.first-timeline::before {
      top: -12px !important;
    }
  }

  img {
    max-width: $line-height * 12;
  }

  .row {
    border-bottom: 1px solid $link;
    padding: $line-height / 2 0;
  }

  @media only screen and (min-width: $breakpoint-med) {

    .row {
      border-bottom: 0;
      padding: 0;
    }

    .row [class^="col"] {
      margin: 0;


      &.feature-left,
      &.feature-right {
        padding-bottom: $line-height * 6;
      }

      &.feature-left {
        border-right: 1px solid $link;
        padding-right: 1.5rem;

        h3::after {
          content: url('../img/home/timeline_point_icon.svg');
          right: -33px;
          position: absolute;
          top: 0;
        }
      }

      &.feature-right {
        border-left: 1px solid $link;
        padding-left: 1.5rem;
        margin-left: 1.5rem;

        h3::before {
          content: url('../img/home/timeline_point_icon.svg');
          left: -33px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

// 07. Contact
// ------------------------

.contact {
  background: #36424a;
  background: -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
  background: -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
  background: linear-gradient(135deg, #36424a 0%,#3a778b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36424a', endColorstr='#3a778b',GradientType=1 );
  padding: $line-height 0;

  h2,
  p,
  a {
    color: #fff;
  }

  button {
    margin-top: $line-height;
  }
}

// 08. Documentation
// ------------------------

.documentation {

  .doc-container {
    border: 1px solid #dedddd;
    border-radius: 8px;
    padding: $line-height / 2;
    margin: 0 auto $line-height;
    display: inline-block;

    &:not(:last-child) {
      margin-right: $line-height / 2;
    }
  }

  .docs-info {

    .doc-size {
      padding: 4px 8px;
      display: inline-block;
      border-radius: 8px;
      color: $dark;
      background-color: #eee;
      font-size: $font-size - 4;
      font-weight: bold;
      margin-right: 2px;
    }

    .doc-type {
      padding: 4px 8px;
      display: inline-block;
      border-radius: 8px;
      border: 1px solid $link;
      color: $link;
      font-size: $small-font-size;
      font-weight: bold;
    }
  }

  .doc-title {
    color: $dark;
    margin-top: $line-height;
  }

  .doc-download {
    color: #fff;
    display: block;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: $link;
    border: none;
    margin: 16px 0 0 0;

    a {
      display: inline-block;
      height: $line-height;
      line-height: $line-height;
      width: 100%;
      color: #fff;
      font-size: $small-font-size;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// 09. Footer
// ------------------------

.footer {
  padding: $line-height 0;

  ul {
    list-style-type: none;
    margin-top: $line-height;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: $line-height / 2;

      @media only screen and (min-width: $breakpoint-med) {
        margin-left: $line-height / 2;
        margin-right: 0;
      }
    }
  }
}
