<!DOCTYPE html>
<html lang="{{ site.data.i18n[page.locale].lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.i18n[page.locale].title }}</title>
    <meta name="description" content="{{ site.data.i18n[page.locale].description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/leaflet.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.i18n[page.locale].title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <body>
    <div class="wrap">
      <header>
        {% include header.html %}
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer>
      {% include footer.html %}
    </footer>
    <script>var base_url = "{{ '/assets/' | relative_url }}";</script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-modal-video.min.js"></script>
    <script src="/js/modal-video.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/header_video.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
    <script>
      $(document).ready(function() {
        $('.header-video').each(function(i, elem) {
          headerVideo = new HeaderVideo({
            element: elem,
            media: '#js-header-video-media',
            playTrigger: '#js-header-video-trigger',
            closeTrigger: '#js-header-video-close'
          });
        });
      });

      $(".js-video-button").modalVideo({
        youtube:{
          controls:0,
          nocookie: true,
        }
      });
    </script>
  </body>
</html>
